@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  .section__text .desc{
    font-size: .8rem;
    margin: 8px 15rem;
    /* background-color: aqua; */
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .section__text .desc{
    font-size: 1.0rem;
    margin: 8px 0px;
    line-height: 1rem;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    list-style: armenian;
    /* background-color: aqua; */
  }
  #contact,
  footer {
    height: 40vh;
    /* width: 100vw; */
    position: relative;
    /* background-color: aqua; */
    margin-top: 40px;
  }
  #profile {
    height: 83vh;
    margin-bottom: 15px;
  }
  #article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 3rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
    /* margin-top: 25px; */
  }
  .contact-info-upper-containe {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .contact-info-container {
    margin: 0;
    /* width: 100%; */
    /* position:absolute; */
    font-size: .9rem;
  }
  .contact-info-container:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: rem; */
    margin: .4rem;
    /* background-color: blue; */
  }
  
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .contact-info-container p a:first-child {
    font-size: 12px;
  }
  .contact-info-container img{
    height: 25px;
    width: 25px;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 40vw;
    justify-content: center;
    margin-bottom: 20px;
  }
  .section-container {
      margin-top: 0px;
  }
  .section__text .desc{
      font-size: .8rem;
    margin-bottom: 10px;
  }
  .section__pic-container img{
    border-radius: 50%;
    /* width: auto; */
    /* height: 46vw; */
    justify-content: center;
    object-fit: cover;
    object-position: top;
  }
  .section__text__p2 {
    font-size: 1.25rem;
    color: #636363e0;
  }
  .title {
    font-size: 1.66rem;
  }
  .text-container p {
    text-align: center;
    /* background-color: rgb(161, 0, 91); */
    letter-spacing: 1.5px;
    word-spacing: 1px;
    list-style: armenian;
    line-height: 1.2rem;
    font-weight: bold;
    padding: 2px 3px;
    font-size: 0.9rem;
  }

  /* #contact {
    margin-top: 50px 8000px;
  } */
}
